header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  z-index: 1000;
}

body {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0px;
  background-color: #060d1c;
  background-image: url("../images/mooning.png");
}

/** for the parallax main image */
.outer-main-img {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/backdrop code2.jpg");
  background-attachment: fixed;
  height: 100vh;
  padding: 0;
  position: relative;
}

.inner-main-img {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(25px, 6vw, 50px);
  color: #f4a261;
  height: 100%;
}

.shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

h1 {
  color: #fff;
  font-size: 50px;
  padding-top: 220px;
}

h2 {
  color: #fff;
  font-size: 25px;
  padding-top: 280px;
}

#main_pic {
  width: 250px;
  height: 250px;
  margin-bottom: 220px;
}

p {
  color: #fff;
  font-size: 15px;
}

a {
  color: #fff;
}

.pic {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.parent-container {
  margin-top: 50px;
}

.image-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
  margin: 25px;
}

.expandable:hover {
  height: 175px;
  width: 175px;
  -webkit-box-shadow: 0em 2em 3em -1.5em rgba(255, 255, 255, 1);
  -moz-box-shadow: 0em 2em 3em -1.5em rgba(255, 255, 255, 1);
  box-shadow: 0em 2em 3em -1.5em rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

.expandable:not(:hover) {
  height: 150px;
  width: 150px;
  box-shadow: none;
  transition: all 0.3s;
}

.caption {
  font-size: 20px;
}

.small {
  font-size: 10px;
}

/* Navigation styles */
nav {
  background-color: #2d2d2d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 10px;
  align-items: left;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #555;
}

/* hamburger open/close */
.hamburger {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.hamburger-nav-links {
  display: none;
}

/* mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  /* Hide horizontal links */
  .nav-links {
    display: none;
  }

  .hamburger-nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #2d2d2d;
    width: 100%;
    text-align: left;
  }

  .hamburger-nav-links.show {
    display: flex;
  }

  .hamburger-nav-links li {
    margin: 10px 0;
    padding-left: 10px;
  }
}

.course-list {
  padding: 0;
  margin: 0;
}

.course-list li {
  color: white;
  margin-bottom: 12px;
  font-size: 15px;
  position: relative;
}

/* Tooltip in skills section */
.tooltip {
  position: relative;
  display: inline-flex;
}

.tooltip-text {
  visibility: hidden;
  width: 350px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
